<!-- <form #userPost = "ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <input type="text" name ="id" ngModel placeholder="id"> <br>
    <input type="text" name = "name" ngModel placeholder="name"> <br>
    <input type="text" name="ipackname" ngModel placeholder="ipackname"><br>
    <input type="number" name="version" ngModel placeholder="version"><br>
    

    <button type="submit">Create</button>

</form> -->
<div class="parentform">
<div class="childform" style="width:70% ;">
<form class="form-group"> 
    <div class="d-flex justify-content-between">
      <div><label for="InputName">Name</label></div>
      <div style="width:50% ;"><input type="text" class="form-control" id="name" ngModel placeholder="Enter Name"></div>
    </div>
    <br>
    <div class="form-group">
        <div class="d-flex justify-content-between">
        <div><label for="InputIName">IpackName</label></div>
        <div style="width:50% ;"><input type="text" class="form-control" id="iname" ngModel placeholder="Enter IpackName"></div>
        </div>
        
        <div class=" d-flex justify-content-between">
          <small id="iname_note" class="form-text text-muted">Note- IpackName should be same as Name.</small>
          <button type="button" class="btn btn-primary" style=" margin-top:10px; padding: 0px 10px">Verify</button>
        </div>
        </div>
      <br>
      <div class="form-group d-flex justify-content-between">
        <div><label for="versionHC">Version</label></div>
        <div  style ="width : 50%;"><input type="number" class="form-control" id="version" ngModel  placeholder="2.0"></div>
      </div>
      <br>
    
    
     <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Checkbox</label>
    </div>  -->
    <div class = "ETF_Sec">
      
    </div>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" style="margin-right:20px ;">Save</button> 
    <button type="button" class="btn btn-primary" style="margin-right:20px ;">Reset</button>
    <button type="button" class="btn btn-primary">Finish</button>
  </div>
  </form>
  </div>
  </div>